@model TheWorld.ViewModels.ContatoViewModel
@{
    ViewBag.Title = "Nos Contate";
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Contato</h2>
        <form method="post">
            <div>@(ViewBag.Mensagem ?? string.Empty)</div>
            <div asp-validation-summary="ValidationSummary.ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Nome">Nome</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mensagem">Mensagem</label>
                <textarea cols="40" rows="4" asp-for="Mensagem" class="form-control"></textarea>
                <span asp-validation-for="Mensagem" class="text-muted"></span>
            </div>


            <div class="form-group">
                <a asp-controller="App" asp-Action="Index" class="btn btn-default">Cancelar</a>
                <input type="submit" value="Enviar Mensagem" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>