@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-md-6">
        <h1>O Mundo</h1>
        <p>Este será um site divertido em breve!</p>

        <form >
            <div class="form-group">
                <label>Data</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Localização</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Add"/>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-xs-4">
        <h2>O Mapa</h2>  </div>
</div>